/*Navbar*/

.topnav {
    background-color: rgb(7, 7, 80);
    font-variant: small-caps;
}

.topnav a {
    float: left;
    padding: 60px;
    font-size: x-large;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
}

.topnav a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.topnav .active {
    text-decoration: underline;
}

.right {
    float: right;
    margin-left: 450%;
    width: 200px;
    height: auto;
}



.topnav .idl_sand

/*Anakin be like (amúgy sandwitch menü) */
    {
    display: none;
}

/*Reszponzííív navi (mert vicci-vicci és mert tudom hogy fel fogom húzni magam rajta )*/
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.idl_sand {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.resp {
        position: relative;
    }

    .topnav.resp .idl_sand {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.resp a {
        float: none;
        display: block;
        text-align: center;
    }
}

/*Dropdown*/
.dropbtn {
    background-color: rgb(7, 7, 80);
    color: white;
    cursor: pointer;
    transition-duration: 0.4s ease;
    font-size: x-large;
    font-variant: small-caps;
    border: none;
    padding: 60px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-romane-conti {
    display: none;
    left: 0;
    position: absolute;
    background-color: rgb(7, 7, 80);
    min-width: auto;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-romane-conti a {
    color: white;
    padding: 40px 50px;
    display: block;
    transition-duration: 0.4s ease;
    text-align: center;
    font-size: large;
}

.dropdown-romane-conti a:hover {
    background-color: rgb(11, 11, 105);
}

.dropdown:hover .dropdown-romane-conti {
    display: block;
}

.dropdown:hover .dropbtn {
    text-decoration: underline;
}

.cont {
    position: relative;
    width: 50%;
}

.linkpic {
    display: block;
    width: 400px;
    height:auto;
}

.overlayer_text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.overlayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #272a2b;
}

.cont:hover .overlayer {
    opacity: 8;
}


/*Lol be like hee hee*/
.lolcím{
font-size: 40px;
text-align: center; 
}

.lol-közép{
    display: grid;
    place-items: center;
    text-align: center;
}
.lol-body-div{
    margin: 10px;
    padding: 30px;
}
