/*Navbar*/

.topnav {
    background-color: rgb(7, 7, 80);
    font-variant: small-caps;
    display: flex;
}

.topnav a {
    float: left;
    padding: 5px 70px;
    font-size: x-large;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
}

.topnav a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.topnav .active {
    text-decoration: underline;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}
.cent {
    width: 30%;
}

.right {
    width: 20%;
    
}

#logo {
    float:right;
    width: 200px;
    height: auto;
    overflow: none;
}
@media screen and (max-width:991px){
    #logo{
        display: none;
    }
}

/*Dropdown*/
.dropbtn {
    background-color: rgb(7, 7, 80);
    color: white;
    cursor: pointer;
    transition-duration: 0.2s ease;
    font-size: x-large;
    font-variant: small-caps;
    border: none;
    padding: 60px;
    vertical-align: center;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-romane-conti {
    display: none;
    left: 0;
    position: absolute;
    background-color: rgb(7, 7, 80);
    min-width: auto;
    cursor: pointer;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
}

.dropdown-romane-conti a {
    color: white;
    padding: 50px 110px;
    display: block;
    transition-duration: 0.4s ease;
    text-align: center;
    font-size: 130%;
}

.dropdown-romane-conti a:hover {
    background-color: rgb(11, 11, 105);
    transition-duration: 0.4s;
}

.dropdown:hover .dropdown-romane-conti {
    display: block;
}

.dropdown:hover .dropbtn {
    text-decoration: underline;
}

@media  screen and (max-width: 767px) {
    .topnav a, .dropbtn,.dropdown-romane-conti a {
        font-size: 70%;
        padding: 15px 50px;
    }

}

/*Overlayer*/
.cont {
    position: relative;
    border: none;
    padding: none;
    margin: none;
    overflow: hidden;
    transition-duration: 0.5s;
    transform: scale(1.0);
}

.linkpic {
    display: block;
    overflow: hidden;
    width: 700px;
    height: 512px;
    scale: 1.05;
    transition-duration: 0.7s;
    transform: scale(1.0);
}

#tag {
    width: 2000px;
    height: auto;
    display: block;
    overflow: hidden;
    transition-duration: 0.9s;
    transform: scale(1.0);
}
@media  screen and (max-width: 991px){
    #tag{
        height: 512px;
        display: block;
        overflow: hidden;
        width: 700px;
        scale: 1.05;
    }
}

.overlayer_text {
    color: white;
    font-size: xx-large;
    position: absolute;
    text-align: center;
    top: 42%;
    left: 25%;
    right: 25%;
  }

.ov_bottom {
    color: white;
    font-size: medium;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 25%;
    right: 25%;
}

.overlayer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.6);
}

.cont:hover .overlayer {
    opacity: 1;
    transform: scale(1.2);
    overflow: hidden;
    transition-duration: 0,7s;
}
.cont:hover .linkpic{
    transform: scale(1.2);
    transition-duration: 0.7s;
    overflow: hidden;
}

.cont:hover #tag {
    transform: scale(1.2);
    transition-duration: 0.9s;
    overflow: hidden;
}

/*Footer*/
.footer{
    padding-top: 30px;
    padding: 20px;
    text-align: left;
    background-color: rgb(7, 7, 80);
    font-size: 100%;
    color: white;
    margin: none;
    bottom: 0;
  }

.footer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.f-ul a:hover {
    text-decoration: underline;
}
.f-ul {
    list-style: none;
}
.footer-title {
    font-size: 150%;
    color: white;
    font-variant: small-caps;
}
.f-ikon {
    width: 40px;
    height: auto;
    border-radius: 60%;
    margin: 5px;
    text-decoration: none;
}

/*Minden más*/
.bc {
    background-color: rgb(20, 20, 20);
    color: white;
}

/*Lol be like hee hee*/
.lolcím{
font-size: 40px;
text-align: center; 
}

.lol-közép{
    display: grid;
    place-items: center;
    text-align: center;
}
.lol-body-div{
    margin: 10px;
    padding: 30px;
}
